<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/Charts/highcharts.js"></script>
    <script src="~/Scripts/Charts/exporting.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/ContentA/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div>
        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    </div>

    <script>
        $(document).ready(function (){
            $.getJSON("/Stat/GetData", function (data) {

                Highcharts.chart('container', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: 'Les motifs'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Employee vs. Freelancer',
                        colorByPoint: true,
                        data: [{
                            name: 'Grippe',
                            y: data.employe
                        }, {
                            name: 'Fievre',
                            y: data.pigiste
                        }]
                    }]
                });
                });
            });
    </script>
</body>
</html>

