 @{

     Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="breadcrumb">
    <div class="container">
        <ul>
            <li><a href="#">Home</a></li>
            <li>Patient profile</li>

        </ul>
    </div>
</div>
<!-- /breadcrumb -->

<div class="container margin_60">
    <div class="row">
        <aside class="col-xl-3 col-lg-4" id="sidebar">
            <div class="box_profile">
                <figure>
                    <img src="~/Content/img/avatarblueprofile.png" alt="" class="img-fluid">
                </figure>
                <small>Patient</small>
                <h1>Fatma Essafi</h1>
               
                <ul class="statistic">
                    
                    <li>4 Treatments</li>
                </ul>
                <ul class="contacts">
                    <li><h6>Address</h6>859 60th, Brooklyn, NY, 11220</li>
                    <li><h6>Phone</h6><a href="tel://000434323342">+00043 4323342</a></li>
                </ul>
                <div class="text-center"><a href="" class="btn_1 outline" target="_blank"><i class="icon_pin"></i> View on map</a></div>
            </div>
        </aside>
        <!-- /asdide -->
 @RenderBody()
