
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TemplateAdmin.cshtml";
}

<h2>Index</h2>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">My Dashboard</li>
        </ol>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card dashboard text-white bg-danger o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-heart"></i>
                    </div>
                    <div class="mr-5"><h5>Welcome Back ADMIN !!</h5>
                    
                    <h4> Choose one of the task on the left bar</h4>
                    
                    
                    </div>
                </div>

            </div>
        </div>

</div>
